*{
    margin:0; 
    padding:0;
}

.box{
    min-height:50px;
    font-size:1.2rem;
    background-color:green;
    border:1px yellow solid;
}

.img-skill{
    width:20vw;
    height:20vw;
    min-width:150px;
    min-height:150px;
    max-width:300px;
    max-height:250px;
}

.img-coloring{
    background-color:white;
}

.image-hover{
    margin:10px auto 0 auto; 
    border-radius:10px; 
    opacity:0.6;
}

.image-hover:hover{
    opacity:1;
}

.grid-holder{
    display:grid;
    grid-template-columns:auto auto auto;
    gap: 10px;;
    max-width:1500px;
    margin:auto;
    padding-bottom:50px;
    
}
/*fixes centering of cards */
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-center{
    align-items: center;
}


.remove-line{
    text-decoration: none;
}
.avatar{
    max-width:556px;
    max-height:360px;
    vertical-align: super;
}

.text-holder{
    text-align: center;;
    max-width:556px;
}

.text-color{
    color:#D3AC2B;
    font-weight:600;
    font-size:1.5em;
    background-color:red;
    max-width:700px;
    max-width:556px;
    display:inline-block;
}

.bio{
    display:inline-block;
    width:400px;
    color:#D3AC2B;;
    font-weight:700;
}

.headhshot{
    max-width:350px;
    width:350px;
    vertical-align:top;
    margin-right:50px;
}

.foot-edit{
    text-decoration: none;
   color:rgb(147 149 158);
}

.foot-edit:hover{
    color:rgb(184, 185, 190);
}

.grid-holder2{
    margin:100px 0 0 0;
}

.spacer{
    margin-right:1.5vw;
}

.link1{
    text-decoration: none ;
    color:rgb(147 149 158);; 
}

.link1:hover{
    color:rgb(195, 196, 202);
}

.test:hover{
    
    color:#D3AC2B;
}

@media only screen and (max-width: 992px){
    
        .headhshot{

            max-width:350px;
            width:250px;
            
            vertical-align:top;
        
           
            margin-right:70px;
        }

        .bio{
            display:inline-block;
            width:300px;
            
        }
    
}

@media only screen and (max-width: 767px){
    .grid-holder{
        display:grid;
        grid-template-columns:auto auto ;
        gap: 10px;;
        
    }

    .headhshot{

        max-width:350px;
        width:200px;
        float:left;
        vertical-align:top;
    
       
        margin-right:0px;
    }

    .bio{
        display:inline;
        width:300px;
        
    }
    
}

