
.box{
    min-height:50px;
    font-size:1.2rem;
    background-color:green;
    border:1px yellow solid;
}
*{
margin:0; 
padding:0;
}

.image-hover:hover{
    opacity:1;
}

.image-hover{
    margin:10px auto 0 auto; 
    border-radius:10px; 
    opacity:0.6;
}